<div class="d-flex justify-content-between">
    <div class="d-flex mt-3 logo-container">
        <img src="{{ url_for('static', filename='images/CPU.png') }}" class="logo-img" alt="logo" />

        <div class="logo-title">
            Система за препоръчване
        </div>
    </div>



     <div class="d-flex flex-row justify-content-end align-items-center me-3">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>BG</option>
              <option value="2">EN</option>
            </select>
     </div>
</div>
